<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header %>
    <% for (item in urls) {
    if (typeof(username) !== 'undefined' && encodeURIComponent(username) === locals.urls[item].user) { %>

    <p><%= item %>
    <a href = <%= locals.urls[item].url %>><%= locals.urls[item].url %></a>

    <a href = <%= `/urls/${item}` %> >Edit</a>
    <form method="POST" action=<%= `/urls/${item}/delete` %>>
    <input type="submit" value="Delete"></input></form>
    </p>
    <% } %>
     <% } %>


</body>
</html>